{% extends 'AdminPage.html' %}
{% block body %}
<form action="#" method="post" >
{% csrf_token %}
<table class="customers">
    <tr>
            <th>Feedback ID</th>
            <th>Customer</th>
            <th>Phone</th>
            <th>Feedback</th>
            <th>Posted On</th>
    </tr>
    {% for d in data %}
    <tr>
        <td>{{d.9}}</td>
        <td>{{d.1}}</td>
        <td>{{d.5}}</td>
        <td>{{d.11}}</td>
        <td>{{d.12}}</td>
    </tr>

    {% endfor %}
    </table>  
{% endblock %}