{% extends 'AdminPage.html' %}
{% block body %}
<form action="#" method="post" >
{% csrf_token %}
<table class="customers">
    <tr>
            <th>DH ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Department</th>
    </tr>
    {% for d in data %}
    <tr>
        <td>{{d.0}}</td>
        <td>{{d.1}}</td>
        <td>{{d.2}}</td>
        <td>{{d.3}}</td>
        <td>{{d.7}}</td>
        <td><a href="/AdminViewDeptHead/?id={{d.0}">Remove</a></td>
    </tr>

    {% endfor %}
    </table> 
    
{% endblock %}