{% extends 'DeptHeadPage.html' %}
{% block body %}

<div class="about">
    <div class="container"> 
        <div class="login-form signup-form">
            <form action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
<div class="styled-input">
    <select name="cat">
        <option>---Select Employee---</option>
            {%for c in data %}
        <option value="{{c.0}}">{{c.1}}</option>
            {% endfor %}
    
    <span></span>
</div>
<br/>
<br/>
<br/>
<br/>
<input type="submit" value="Allot Now">	
</form> 
</div>  
</div>
</div>	
{% if msg %}
<script>
    alert("{{msg}}")
</script>
{% endif %}
{% endblock %}