<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Responsive Govern</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Drive Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="../static/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="../static/css/style.css" type="text/css" rel="stylesheet" media="all"> 
<link rel="stylesheet" href="../static/css/flexslider.css" type="text/css" media="all" property="" /> 
<link href="../static/css/font-awesome.css" rel="stylesheet"> 			<!-- font-awesome icons -->
<link href="../static/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
<!-- //Custom Theme files -->  
<!-- js -->
<script src="../static/js/jquery-2.2.3.min.js"></script>  
<script src="../static/js/smoothscroll.min.js"></script> 
<!-- //js -->
<!-- web-fonts -->  
<link href="//fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- //web-fonts --> 
</head>
<body> 
	<!-- banner -->
	<div class="banner">
		<!-- header -->
		<div class="header">
			<div class="container">
				<div class="header-w3lsrow"> 
					<div class="menu"> 
						<div class="toggle"></div> 
						<ul class="w3nav">
							<li><a href="/EmployeeHome" > Home</a></li>
							<li><a href="/EmployeeViewComplaints"> Issues</a></li> 
							<!-- <li><a href="/CustomerViewAcceptedProduct"> Notifications</a></li>  -->
							
						</ul>
						<div class="clearfix"> </div>
					</div> 
					<div class="logo">
						<h1><a href="/">Responsive Govern</a></h1>
					</div>  
					<div class="header-right">   
						<ul>
							
							<li><a href="/">Logout</a></li> 
						</ul>
						<div class="clearfix"> </div> 
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //header --> 
		<!-- banner-text -->
		<div class="banner-text"> 
			<div class="container">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="banner-w3lstext">
								<h2>Welcome</h2>
								<p>Welcome to Responsie Govern. This portal is a central complaint cell for all the departments under the Government Of India. Consumers can register complaint with Adhaar No. Adhaar No is considerd as the consumer identifcation number.  </p>
							</div>
						</li>
						<li>
							<div class="banner-w3lstext">
								<h3>Vision</h3>
								<p>Responsive Govern is mainly focuses on consumers problems regarding the government departments. By this initiative Gov Of India is trying to make our departments more effective and consumer friendly. We are expecting the co-orporation of all the consumers</p>
							</div>
						</li>
						<li>
							<div class="banner-w3lstext">
								<h3>Consumer Friendly</h3>
								<p>Responsie Govern is a large initiatie in the history of world. This is the first Central Complaint cell in the world. Large database with a huge data of our people. Our teams are ready for your help</p>
							</div>
						</li>
					</ul> 
				</div> 	
				<!-- FlexSlider --> 
				<script defer src="../static/js/jquery.flexslider.js"></script>
				<script type="text/javascript">
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
				</script>
				<!-- End-slider-script -->
			</div>
		</div>
		<!-- //banner-text --> 
	</div>
	<!-- //banner -->
	<!-- welcome -->
	<div class="welcome"> 
		<div class="container">
			<div class="col-md-7 welcome-w3lleft">
				<h3>Welcome !</h3>
				<h5>Department Of Consumer Affairs</h5>
				<p>This website has been launched by the Department of Consumer Affairs to create awareness,advise and redress consumer grievances and act as a central registry for lodging consumer grievances. Though all efforts will be made to address these grievances, all grievances may not be fully or satisfactorily resolved.

					Contents of links to sites outside this web portal, are not the responsibility of the Department. All rights are reserved.
					
					No part of this web portal, can be reproduced / copied without the prior approval of the Department of Consumer Affairs. This portal is an alternate dispute redressal mechanism. In case, the consumer is not satisfied, he/she can approach the appropriate Consumer Commission/Fora.
					
					The Department of Consumer Affairs has launched this portal as an integrated Grievance Redress Mechanism (INGRAM) for bringing all Stakeholders such as Consumers, Central and State Government Agencies, Private Companies, Regulators, Ombudsmen and call centres etc. onto a single platform. The portal will also help in creating awareness among consumers to protect their rights and inform them of their responsibilities. Consumers can register online their grievances through this portal.
				</p>  
				<a href="#" class="w3layouts-more" data-toggle="modal" data-target="#myModal">Read More</a>
			</div>  
			<div class="col-md-5 welcome-w3lright">
				<div class="welcome-grids">
					<div class="service-box">
						<div class="agileits-wicon">
							<i  aria-hidden="true"></i>
						</div>
						<h5>GOV OF INDIA</h5> 
					</div> 
					<div class="clearfix"> </div>
				</div>
				<div class="welcome-grids">
					<div class="col-md-6 col-sm-6 col-xs-6 service-box">
						<div class="agileits-wicon">
							<i  aria-hidden="true"></i>
						</div>
						<h5>Consumer Rights</h5> 
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 service-box">
						<div class="agileits-wicon">
							<i  aria-hidden="true"></i>
						</div>
						<h5>Right Of Information</h5> 
					</div>
					<div class="clearfix"> </div>
				</div>
			</div> 
			<div class="clearfix"> </div>
		</div> 
	</div>
	<!-- //welcome -->
	<!-- modal-about -->
	<div class="modal bnr-modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div> 
				<div class="modal-body modal-spa">
					<h4>Blanditiis deleniti</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum iaculis enim, non convallis felis mattis at. Donec fringilla lacus eu pretium rutrum. Cras aliquet congue ullamcorper. Etiam mattis eros eu ullamcorper volutpat. Proin ut dui a urna efficitur varius. uisque molestie cursus mi et congue consectetur adipiscing elit cras rutrum iaculis enim, Lorem ipsum dolor sit amet, non convallis felis mattis at. Maecenas sodales tortor ac ligula ultrices dictum et quis urna. Etiam pulvinar metus neque, eget porttitor massa vulputate in. Fusce lacus purus, pulvinar ut lacinia id, sagittis eu mi. Vestibulum eleifend massa sem, eget dapibus turpis efficitur at. Aliquam viverra quis leo et efficitur. Nullam arcu risus, scelerisque quis interdum eget, fermentum viverra turpis. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut At vero eos </p>
				</div> 
			</div>
		</div>
	</div>
	<!-- //modal-about -->  
	<!-- trips -->
	<div class="trips"> 
		<div class="container">
			<div class="trips-agileinfo"> 
				<div class="col-md-6 trip-agileitsimg">  
					
				</div> 
				<div class="col-md-6 trip-agileitstext welcome-w3lleft"> 
					<h3>Our Resourses</h3>
					<h5>Conserve our resourses - Ministry Of Energy Resourses</h5>
					<p>In this today's world Pure water is a rare thing. SO it is very precious thing. So don't waste water. Conserve for future</p> 
					<div id="owl-demo" class="owl-carousel owl-theme">
						<div class="item agile-item">
							<img src="../static/images/i1.jpg" class="trip-w3img" alt=""/>  
						</div> 
						<div class="item agile-item">
							<img src="../static/images/i2.jpg" class="trip-w3img" alt=""/>  
						</div> 
						<div class="item agile-item">
							<img src="../static/images/i3.jpg" class="trip-w3img" alt=""/>  
						</div>
						<div class="item agile-item">
							<img src="../static/images/i4.jpg" class="trip-w3img" alt=""/>  
						</div>
						<div class="item agile-item">
							<img src="../static/images/i1.jpg" class="trip-w3img" alt=""/>  
						</div>
						<div class="item agile-item">
							<img src="../static/images/i2.jpg" class="trip-w3img" alt=""/>  
						</div> 
						<div class="item agile-item">
							<img src="../static/images/i3.jpg" class="trip-w3img" alt=""/>  
						</div>
						<div class="item agile-item">
							<img src="../static/images/i4.jpg" class="trip-w3img" alt=""/>  
						</div> 
						<div class="item agile-item">
							<img src="../static/images/i1.jpg" class="trip-w3img" alt=""/>  
						</div> 
						<div class="item agile-item">
							<img src="../static/images/i3.jpg" class="trip-w3img" alt=""/>  
						</div>
					</div> 
					<script>
						$(document).ready(function() { 
							$("#owl-demo").owlCarousel({ 
							  autoPlay: 3000, //Set AutoPlay to 3 seconds
						 
							  items : 3,
							  itemsDesktop : [768,3],
							  itemsDesktopSmall : [414,4]
						 
							});
						 
						}); 
					</script>  	
				</div> 
				<div class="clearfix"> </div>
			</div>  
		</div> 
	</div>
	<!-- //trips -->
	<!-- news -->
	<div class="news"> 
		<div class="container">
			<h3 class="w3agileits-title">Ministry of New and Renewable Energy
			</h3>
			<div class="new-agileinfo">
				<div class="col-md-4 news-left">
					<ul id="demo1_thumbs" class="list-inline"> 
						<li><a href="../static/images/img2.jpg"><img src="../static/images/i2.jpg" alt="" data-desoslide-caption="<h3>Maecenas aliqua</h3> <br>Eligendi optio nam libero tempore cum soluta nobis est cumque nihil impedit quo minus id quod maxime placeat facere possimus omnis optio cumque nihil impedit quo minus id quod maxime placeat facere possimus">
							<div class="news-w3text">
								<h4>Maecenas aliqua</h4>
								<h6><i class="fa fa-calendar" aria-hidden="true"></i> 05 / 09 / 2016</h6>	
								<p>Energy has diffrent forms</p>
							</div> 
						</a></li>
						<li><a href="../static/images/img1.jpg"><img src="../static/images/i1.jpg" alt="" data-desoslide-caption="<h3>Facere possimus </h3> <br>Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus omnis optio cumque nihil impedit quo minus id quod maxime placeat facere possimus">
							<div class="news-w3text">
								<h4>Facere possimus</h4>
								<h6><i class="fa fa-calendar" aria-hidden="true"></i> 05 / 09 / 2016</h6>	
								<p>Consume less energy for better world.</p>
							</div>   
						</a></li>
						<li><a href="../static/images/img3.jpg"><img src="../static/images/i3.jpg" alt="" data-desoslide-caption="<h3>Nulla molestie</h3> <br>Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus omnis optio cumque nihil impedit quo minus id quod maxime placeat facere possimus">
							<div class="news-w3text">
								<h4>Nulla molestie</h4>
								<h6><i class="fa fa-calendar" aria-hidden="true"></i> 05 / 09 / 2016</h6>	
								<p>Enery is a gift of nature.</p>
							</div> 
						</a></li>
						<li><a href="../static/images/img4.jpg"><img src="../static/images/i4.jpg" alt="" data-desoslide-caption="<h3>Duis accumsan</h3> <br>Eligendi optio nam libero tempore cum soluta nobis est cumque nihil impedit quo minus id quod maxime placeat facere possimus omnis optio cumque nihil impedit quo minus id quod maxime placeat facere possimus">
							<div class="news-w3text">
								<h4>Duis accumsan</h4>
								<h6><i class="fa fa-calendar" aria-hidden="true"></i> 05 / 09 / 2016</h6>	
								<p>Save the enrgy for good actions </p>
							</div> 
						</a></li> 
					</ul>
				</div>
				<div id="demo1_main_image" class="col-md-8  news-right"></div>
			</div>    
			<link rel="stylesheet" href="../static/css/jquery.desoslide.css">
			<script src="../static/js/jquery.desoslide.js"></script> 
			<script>
			$('#demo1_thumbs').desoSlide({
				main: {
					container: '#demo1_main_image',
					cssClass: 'img-responsive'
				},
				 effect: 'sideFade',
				caption: true
			});
			</script> 
		</div>
	</div>
	<!-- //news --> 
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="col-md-4 footer-grids">
				<h3>Feedbacks</h3>
				<p>Consumers can give feedback about our services in this portal</p>
			</div>
			<div class="col-md-3 footer-grids">
				<h3>Contact Us</h3>
				<p>New Delhi - 110001 INDIA.<br>
					<span>Office: 908-0000</span>
				</p>
				<div class="footer-bottom">
					<a href="#"><i class="fa fa-facebook"> </i><span>Facebook</span></a>
					<a href="#"><i class="fa fa-twitter"> </i><span>Twitter</span></a>
					<a href="#"><i class="fa fa-google-plus"> </i><span>Google +</span></a>
					<a href="#"><i class="fa fa-dribbble"> </i><span>Dribbble</span></a>
				</div>
			</div>
			<div class="col-md-5 footer-grids">
				<h3>Ministry Of Tourism</h3>
				<a  class="footer-img" href=""><img src="../static/images/i4.jpg" alt=""></a>
				<a class="footer-img" href=""><img src="../static/images/i2.jpg" alt=""></a>
				<a class="footer-img" href=""><img src="../static/images/i3.jpg" alt=""></a>
			</div>
			<div class="clearfix"> </div>
			<div class="footer-copy">
				<p>© 2019 Responsive Govern. All rights reserved | Design by <a href="http://w3layouts.com">Responsive Govern</a></p>
			</div>
		</div>
	</div>
	<!-- //footer --> 
	<!-- menu js -->
	<script>
		$('.toggle').on('click', function() {
			$('.menu').toggleClass('open');  
			$('.w3nav').toggleClass('show-w3nav');  
			$('.w3nav a').toggleClass('show-w3nav-link');  
			$('.toggle').toggleClass('close');  
		});
	</script>
	<!-- //menu js -->
	<script src="../static/js/owl.carousel.js"></script>
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="../static/js/move-top.js"></script>
	<script type="text/javascript" src="../static/js/easing.js"></script>	
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up --> 
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/bootstrap.js"></script>
</body>
</html>